# Maxfiy — git'ga YUBORILMASIN
telegram_token.txt
maxway_url.txt
stop_channel.txt
.env

# Baza va yuklamalar
*.db
*.db-wal
*.db-shm
static/uploads/avatar_*
static/uploads/requests/req_*

# Python
venv/
__pycache__/
*.pyc

# Boshqa
*.zip
setup.py
setup_1.py
change_pw.py
